<h1>投稿詳細</h1>

<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<% if current_user == @post.user %>
    <%= link_to "編集", edit_post_path(@post) %> |
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
<br>
<%= link_to "一覧へ戻る", posts_path %>
